@media (min-width: 600px) and (max-width: 1100px){
    .column-class-marg{
        flex-direction: column;
        align-items: center;
        margin-bottom: 400px;
        margin-top: 150px;
    }
    .head-of-block-1{
        flex-direction: column;
        align-items: center;
    }
    .simple-column-class{
        flex-direction: column;
        align-items: center;
    }
    .column-class{
        margin-top: 100px;
        display: flex;
        flex-direction: column;

    }
    .column-class-for-price{
        flex-direction: column;
        margin-right: calc(100% - 730px/2);
    }
    .column-class-reverse{
        margin-top: 800px;
        flex-direction: column-reverse;
    }
    .video-lower{
        margin-top: 300px;
    }
    .lower-400{
        margin-top: 400px;
    }

    .centrirov{
        display: flex;
        justify-content: center;
    }
    .white-text-of-video-block{
        width: 550px;
    }
    .column-BTN{
        flex-direction: column;
        align-items: center;
    }
    .comments-media{
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
    }
    .lower-750{
        margin-top: 750px;
    }
    .footer-column{
        padding-right: 20px;
    }
    .footer-bot{
        padding-bottom: 30px;
    }
}
